.todo-card {
  background-color: #dadada;
  box-shadow: 6px 6px 10px #e1e1e1;
  transition: all 0.5s;
  padding: 30px;
  border-bottom: 10px solid #1890ff;
}
.todo-card:hover {
  box-shadow: 6px 6px 10px #b7b7b7;
}
