.nav_bar {
  position: fixed;
  z-index: 2;
  top: 0;
  background-color: #777777;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 3px 3px 10px #bdbdbd;
}
.single-product {
  margin: 100px auto;
  width: fit-content;
  box-shadow: 6px 6px 20px #a5a5a5;
  padding: 20px;
  border-radius: 20px;
}
